<div class="container-fluid">
  <nav class="navbar navbar-expand-md n navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/pessoas">
      <i class="fa fa-user-edit"></i>{{title}}
    </a>
    <div *ngIf="usuarioLogado"
      class="navbar-collapse collapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/pessoas">Pessoas</a>
      </li>
      <li class="nav-item">
        <a *ngIf="temPermissao('ADMIN', 'GERENTE')"
          class="nav-link" href="#" routerLink="/enderecos">Endereços</a>
      </li>
      <li class="nav-item">
        <a *ngIf="temPermissao('ADMIN')"
          class="nav-link" href="#" routerLink="/cidades">Cidades</a>
      </li>
      <li class="nav-item">
        <a *ngIf="temPermissao('ADMIN', 'FUNC')"
          class="nav-link" href="#" routerLink="/cidades">Estados</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle
          id="navbarDropdownl" role="button">Cadastros
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownl"
        class="dropdown-menu">
          <a ngbDropdownItem href="#" routerLink="/pessoas">Pessoas</a>
          <a *ngIf="temPermissao('ADMIN', 'GERENTE')"
            ngbDropdownItem href="#" routerLink="/enderecos">Endereços</a>
          <a *ngIf="temPermissao('ADMIN')"
            ngbDropdownItem href="#" routerLink="/cidades">Cidades</a>
          <a *ngIf="temPermissao('ADMIN', 'FUNC')"
            ngbDropdownItem href="#" routerLink="/estados">Estados</a>
            </div>
        </li>
      </ul>
    </div>
    <div *ngIf="usuarioLogado" id="navbarContent2">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" >
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <p class="navbar-text mb-0 text-white">
            <i class="fa fa-user"></i> {{ usuarioLogado.nome }}
          </p>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet />
</div>

